*{
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    font-size: 62.5%; /* equivalente a 10px */
}

body {
    background-color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2rem;
}

h2{
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

header {
    background-color: #333;
    padding: 30px;
    text-align: left;
    font-size: 35px;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

/* A forma basica da <div> SEMPRE vai ser um quadrado */

div {
    margin: 10px auto;
}

nav {
    float: left;
    width: 30%;
    padding: 30px;
    background-color: tomato;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: yellow;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

/* cria um circulo */
#grafico-01 {

    background-color: brown;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

#grafico-01 img {
    width: 100%;
}

/* cria um triângulo */
#grafico-02 {

    background-color: transparent;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blueviolet;
    width: 60px;
}

#grafico-04 {

    background-color: brown;
    width: 300px;
    height: 100px;
    overflow: hidden;
    border-radius: 10%;
}

#imagem-vetorial {
    width: 100px;
}

#canvas {
    width: 100px;
    height: 100px;
}

/* FILTROS */

#grafico-01 {
    filter: drop-shadow(8px 8px 10px #333);
    /*Primeiro valor controla eixo horizontal - Segundo valor controla eixo vertical - Terceiro valor controla a expansão da sombra [dissipação] */
    max-width: 100%;
    height: auto;
}

.filtro {
    filter: grayscale(100%); /* escala de cinza*/
    filter: blur(5px); /*desfoque*/
    filter: brightness(50%); /*brilho [100% = normal]*/
    filter: invert(100%); /*inverção de cores*/
    filter: opacity(75%); /*transparencia*/
    filter: saturate(200%) sepia(80%) ; /*combinação filtros separados por espaço*/
}

.filtro:hover {
    filter: grayscale(0%);
    
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
}

.coluna {
    display: block;
    width: 50%;
    float: left;
    padding: 5px;

}

.coluna-1 {
    display: block;
    width: 100%;
    float: left;
    padding: 5px;
}
.coluna-3 {
    columns: 100px 2;
    width: 50%;
}

.coluna-100w {
    width: 100%;
}

iframe {
    width: 100%;
}

/* MOBILE FIRST */

/* PARA FUNCIONAR A VERSAO MOBILE SEM SER SOBRESCRITA ELA PRECISA SER A ULTIMA - A ORDEM DOS MEDIA QUERY É DESCRESCENTE [DESKTOP -> TABLET -> MOBILE] */


/* Tablet */
@media (max-width: 768px) {
  nav {
    width: 30%;
  }
  article {
    width: 70%;
  } 
  .coluna {
    width: 50%;
    min-width: unset;
  }
}

/* Smartphone */
@media (max-width: 425px) {
  nav,
  article, 
  .coluna {
    width: 100%;
    min-width: 320px;
  }
}