/* Importando CSS de Tabelas */
@import url('tabelas.css');


/* 

	Herança

	1. Sobreposição / Sobrescreve
	2. Aplica a último estilo definido
	3. Prioriza estilo específicas (com seletores mais próximos)
	4. Se aplica a todas as propriedades

 */


html {
	font-family: cursive;
	color: #333333;
}

p {
	color: #454545;
}

header p {
	color: #fff;
	font-size: 1.5rem;
}


/* 

	Combinadores 
	
	(espaço) seletor descendente 
	(>) combinador de seletores filhos
	(+) combinador de elementos irmãos adjacentes / que vem logo na sequencia
	(~) combinador de elementos irmãos geral / após elemento de referência

	
*/


header h2 {
	font-weight: 100;
}


header > h2 {
	font-weight: 600;
}

h2 + p {
	background: #FF0;
	color: #333;
}

h2 ~ h5 {
	font-size: 1.2rem;
}

div ~ p {
	text-transform: uppercase;
}


/* Pseudo-classes */

a {
	color: #555555;
	text-decoration: none; /* o padrão é underline */
	font-size: 1.5rem;
	display: block;
	width: 100%;
	height: auto;
}

a:visited {
	color: #f00;
}

a:active {
	color: #096;
}

a:hover {
	color: #009;
	background: #eee;
}

h2:hover {
	color: #888;
}


/* 
	Tipografia
*/

html {
	font-family: sans-serif;
}

h1, h2, h3 {
	font-weight: 400;
	font-family: 'Limelight', cursive;
}

p {
	font-weight: normal;
	font-size: 1.4rem;
}

ul {
	padding-left: .5rem;
	margin-left: .5rem;	
}

li {
	letter-spacing: 0.01rem;
	font-family: sans-serif;
	line-height: 1.5;
}

h3 {
	/* declaração resumida / completa */
	font: italic bold 1.2rem/2 sans-serif;
}


/* 

	Cores

*/

body {
	background: url('../images/pattern.png') center top repeat #EEEEEE;
}

section {
	background: rgba(255, 255, 255, 0.95);
}

p {
	color: blue;
	color: #034589;
}

header,
footer {
	height: 90px;
	width: 100%;
	position: fixed; bottom: 0px;
	background-image: linear-gradient(to bottom right,#cc6c86,#cc3a60);
}

footer p {
	color: rgb(255, 255, 255);
}

.footer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*height: 10vh;*/
}

.footer img {
	display: inline-block;
	width: 35px;
}

.navegacao {
	background-color: rgba(0, 0, 0, .5);
	padding: 0.5rem;
}

.navegacao li a {
	color: white;
	font-size: 1.4rem;
}

.navegacao li a:hover {
	background-color: rgba(150, 150, 200, .5);
	color: #333333;
}
